---
permalink: /politica-privacidade/
layout: layout.njk
title: Política de Privacidade - Café com Vendas
description: Política de Privacidade do evento Café com Vendas - Como protegemos e utilizamos os seus dados pessoais
eleventyNavigation:
  key: politica-privacidade
---

{% set pageData = site.legal.privacyPolicy %}
{% include "partials/legal-page.njk" %}