---
layout: layout.njk
title: Política de Privacidade - Café com Vendas
description: Política de Privacidade do evento Café com Vendas - Como protegemos e utilizamos os seus dados pessoais
eleventyNavigation:
  key: politica-privacidade
---

{% set pageData = legal.privacyPolicy %}
{% include "components/legal-page.njk" %}