---
layout: layout.njk
title: Termos e Condições - Café com Vendas
description: Termos e Condições do evento Café com Vendas - Condições de participação e garantia
eleventyNavigation:
  key: termos-condicoes
---

{% set pageData = legal.termsConditions %}
{% include "sections-legacy/legal-page.njk" %}